<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970867216745-cm5rr8876pfnrub4vfj87abohcip23p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970867216745-cm5rr8876pfnrub4vfj87abohcip23p2</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNlJibX1Yqs3wMtNMw5JieMjj3wYFvYs</string>
	<key>GCM_SENDER_ID</key>
	<string>970867216745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rrakhlin.Potapych</string>
	<key>PROJECT_ID</key>
	<string>potapych-bcfd1</string>
	<key>STORAGE_BUCKET</key>
	<string>potapych-bcfd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970867216745:ios:3ef172968270cb0c02adf8</string>
	<key>DATABASE_URL</key>
	<string>https://potapych-bcfd1.firebaseio.com</string>
</dict>
</plist>